.hamburger {
  width: 30px;
  height: 30px;
}

.hamburger div {
  &::before, &::after {
    content: '';
  }

  &, &::before, &::after {
    @apply bg-black;

    width: 30px;
    height: 4px;
    border-radius: 2px;
    bottom: 5px;
    left: 0;
    position: absolute;
  }

  .night &, .night &::before, .night &::after {
    @apply bg-white;
  }

  &::before {
    bottom: 16px;
  }

  &::after {
    bottom: 8px;
  }
}
